/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

/* Estilos padrão */
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Header */
.header {
    background: url(../img/Layer-34.png) no-repeat center;
    background-size: cover;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 0;
}


.menu ul{
    display: flex;
}

.menu ul li a {
    font-family: 'Raleway', sans-serif;
    color: rgba(225, 225, 225, 0.75);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-left: 58px;
}

.menu ul li a:hover {
    color: #fff;
}

.chamada {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.titulo h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    text-align: center;
}

.paragrafo {
    margin:40px 0px;
}

.paragrafo p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.btn {
    text-align: center;
    align-self: center;
    background-color: #e84545;
    width: 200px;
    padding: 15px 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 90px;

}

.btn:hover {
    background-color: #b52e2e;

}
/* Seção de beneficios */
.flex {
    display: flex;
    flex-wrap: wrap;

}

.box {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    max-width: 25%;
    margin: 4%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


.box h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

/* Seção Imagens */

.imagens {
    display: flex;
    flex-wrap: wrap;
}


.imgBox {
    min-width: 25%;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    border-right: #fff 1px solid ;
    border-bottom: #fff 1px solid ;
}

.imgBox img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.conteudo {
    position: absolute;
    background-color: rgba(232, 69, 69, 0.9);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .5s;
    font-size: 14px;
}

.conteudo h4 {
    margin-bottom: 5px;
}

.imgBox:hover .conteudo {
    transform: scale(1);
}

/* Seção Funcionários */

.funcionarios {
    margin: 100px 0px;
}

.boxFunc {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-right: auto;
}

.boxFunc img {
    max-width: 100%;
    max-height: 100%;
}

.boxFunc h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}

.boxFunc h4 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 13px;
    color: red;
    font-weight: 400;
}

.boxFunc p {
    margin: 15px 0px;
    font-size: 14px;
    color: #6c7279;
    line-height: 1.7em;
}

.icons i {
    padding: 8px 12px;
    color: #c6cacc;
    border: #c6cacc 1px solid;
    border-radius: 2px;
}

.fa-facebook-f:hover {
    background-color: #3b5998;
}

.fa-twitter:hover {
    background-color:  #00aced;
}

.fa-linkedin:hover{
    background-color: #0976b4;
}

/* Seção Slide */

.slide input[type="radio"] {
    visibility: hidden;
}


.slide {
    position: relative;
    background-color: #53354a;
    height: 490px;
}

.ImgSide{
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    display: flex;
    overflow: hidden;
    
}

.ImgSide img {
    width: 100%;
    height: 490px;
    transition: 0.6s;
}

.navigation {
    width: 60px;
    position: absolute;
    display: flex;
    bottom: 0;
    left: calc(90% - 60px);
}

.navigation .bar {
    width: 20px;
    background-color: white;
    height: 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#r1:checked ~  .ImgSide img{
    margin-left: 0;
}

#r2:checked ~ .ImgSide img {
    margin-left: -50%;
}

.TextSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
    justify-content: center;
    padding-left: 10%;
}
blockquote {
    font-family: 'Cardo', serif;
    color: white;
    line-height: 42px;
    font-size: 32px;
}

.TextSide p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    margin-top: 35px;
    text-transform: uppercase;
}

/* Seção Download  */

.download {
    text-align: center;
    min-height: 300px;
    padding: 95px 0;
}

.download h2 {
    font-weight: 400;
    line-height: 21px;

}

.download p{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: bold;
    margin: 20px 0;
}

.download .btn-download{
    background-color: #e84545;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 13px 85px;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #313454;
    padding: 70px 0;
    color: white;

}

.flex-footer{
    display: flex;
    justify-content: space-around;
}

.location {
    width: 170px;
    text-align: center;
}

.socials {
    width: 170px;
    text-align: center;
}

.about {
    width: 330px;
    text-align: center;
}

footer h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

footer p, footer address {
    opacity: .5;
    line-height: 22.5px;
    font-size: 14px;
}

.socials .icons .fab{
    color: white;
    border: white 2px solid;
    padding: 10px 15px;
    font-size: 15px;
}

/* Media Querys */
@media (max-width: 850px) {
    header {
        flex-direction: column;
    }

    .menu ul{
        display: block;
    }

    .menu ul li {
        margin: 5px;
    }

    .menu ul li a {
        margin: 0;
    }
}